<!DOCTYPE html>
<html>
<head>
	<title>Calculator - MEttLE</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<!-- <link rel="stylesheet" type="text/css" href="/stylesheets/style_others.css"> -->
	<link rel="stylesheet" href="/stylesheets/migrated.css">
	</head>
<body>

<section id="middle-part">
<div class="top-section">
		<div class="row">
		 <div class="col-sm-6" style="text-align:center;vertical-align:middle"> <p>MEttLE</p> </div>
		<div class="col-sm-1" style="text-align:center;vertical-align:middle">
		<a href="/simulator" target="_blank"><input id="problem1mapnotcomplete_sim" type="image" src="simulator.png" style="width:110px;height:67px;"/></a>
		</div>
		<div class="col-sm-1" style="text-align:center;vertical-align:middle">
		<a href="calc" target="_blank"><input id="problem1mapnotcomplete_calc" type="image" src="calcactive.png" style="width:110px;height:67px;"/></a>
		</div>
		<div class="col-sm-1" style="text-align:center;vertical-align:middle">
		<a href="info" target="_blank"><input id="problem1mapnotcomplete_info" type="image" src="info.png" style="width:110px;height:67px;"/></a>
		</div>
		<div class="col-sm-1" style="text-align:center;vertical-align:middle">
		<a href="scratch" target="_blank"><input  id="problem1mapnotcomplete_scribble"type="image" src="scribble.png" style="width:110px;height:67px;"/></a>
		</div>
		<div class="col-sm-1" style="text-align:center;vertical-align:middle">
		<a href="problem1map" target="_blank"><input id="problem1mapnotcomplete_map" type="image" src="map.png" style="width:110px;height:67px;"/></a>
		</div>
		<div class="col-sm-1" style="text-align:center"> <a href="/logout"><button id="problem1mapnotcomplete_logout" type="button" class="btn btn-default">Logout</button></a></div>
		</div>
	</div>
	<div class="register">
     <div class="info">
      <p> Do your calculations here </p>
	  </div>
	<div class="row activity">
	<div class="col-lg-4"> </div>
	<div class="col-lg-4">
	<FORM NAME="sci-calc">
<TABLE CELLSPACING="20" CELLPADDING="20">
	<TR>
<TD COLSPAN="5" ALIGN="center"><INPUT NAME="display" VALUE="0" SIZE="28" MAXLENGTH="25"></TD>
</TR>
<TR>
<TD ALIGN="center"><INPUT id="calc_exp" TYPE="button" VALUE=" exp " ONCLICK="if (checkNum(this.form.display.value)) { exp(this.form) }"></TD>
																		<!-- if there is some input in the display box then exp function is called -->
<TD ALIGN="center"><INPUT id="calc_7" TYPE="button" VALUE="  7  " ONCLICK="addChar(this.form.display, '7')"></TD>
<TD ALIGN="center"><INPUT id="calc_8" TYPE="button" VALUE="  8  " ONCLICK="addChar(this.form.display, '8')"></TD>
<TD ALIGN="center"><INPUT id="calc_9" TYPE="button" VALUE="  9  " ONCLICK="addChar(this.form.display, '9')"></TD>
<TD ALIGN="center"><INPUT id="calc_div" TYPE="button" VALUE="   /   " ONCLICK="addChar(this.form.display, '/')"></TD>
</TR>
<TR>
<TD ALIGN="center"><INPUT id="calc_ln" TYPE="button" VALUE="   ln  " ONCLICK="if (checkNum(this.form.display.value)) { ln(this.form) }"></TD>
																		<!-- if there is some input in the display box then ln function is called -->
<TD ALIGN="center"><INPUT id="calc_4" TYPE="button" VALUE="  4  " ONCLICK="addChar(this.form.display, '4')"></TD>
<TD ALIGN="center"><INPUT id="calc_5" TYPE="button" VALUE="  5  " ONCLICK="addChar(this.form.display, '5')"></TD>
<TD ALIGN="center"><INPUT id="calc_6" TYPE="button" VALUE="  6  " ONCLICK="addChar(this.form.display, '6')"></TD>
<TD ALIGN="center"><INPUT id="calc_mult" TYPE="button" VALUE="   *   " ONCLICK="addChar(this.form.display, '*')"></TD>
</TR>
<TR>
<TD ALIGN="center"><INPUT id="calc_srt" TYPE="button" VALUE=" sqrt " ONCLICK="if (checkNum(this.form.display.value)) { sqrt(this.form) }"></TD>
																		<!-- if there is some input in the display box then sqrt function is called -->
<TD ALIGN="center"><INPUT id="calc_one" TYPE="button" VALUE="  1  " ONCLICK="addChar(this.form.display, '1')"></TD>
<TD ALIGN="center"><INPUT id="calc_2" TYPE="button" VALUE="  2  " ONCLICK="addChar(this.form.display, '2')"></TD>
<TD ALIGN="center"><INPUT id="calc_3" TYPE="button" VALUE="  3  " ONCLICK="addChar(this.form.display, '3')"></TD>
<TD ALIGN="center"><INPUT id="calc_minus" TYPE="button" VALUE="   -   " ONCLICK="addChar(this.form.display, '-')"></TD>
</TR>
<TR>
<TD ALIGN="center"><INPUT id="calc_sr" TYPE="button" VALUE="  sq  " ONCLICK="if (checkNum(this.form.display.value)) { square(this.form) }"></TD>
																		<!-- if there is some input in the display box then square function is called -->
<TD ALIGN="center"><INPUT id="calc_0" TYPE="button" VALUE="  0  " ONCLICK="addChar(this.form.display, '0')"></TD>
<TD ALIGN="center"><INPUT id="calc_dot" TYPE="button" VALUE="   .  " ONCLICK="addChar(this.form.display, '.')"></TD>
<TD ALIGN="center"><INPUT id="calc_plusminus" TYPE="button" VALUE=" +/- " ONCLICK="changeSign(this.form.display)"></TD>
<TD ALIGN="center"><INPUT id="calc_plus" TYPE="button" VALUE="   +  " ONCLICK="addChar(this.form.display, '+')"></TD>
</TR>
<TR>
<TD ALIGN="center"><INPUT id="calc_leftbr" TYPE="button" VALUE="   (   " ONCLICK="addChar(this.form.display, '(')"></TD>
<TD ALIGN="center"><INPUT id="calc_cos" TYPE="button" VALUE="cos" ONCLICK="if (checkNum(this.form.display.value)) { cos(this.form) }"></TD>
																	<!-- if there is some input in the display box then cos function is called -->
<TD ALIGN="center"><INPUT id="calc_sin" TYPE="button" VALUE=" sin" ONCLICK="if (checkNum(this.form.display.value)) { sin(this.form) }"></TD>
																	<!-- if there is some input in the display box then sin function is called -->
<TD ALIGN="center"><INPUT id="calc_tn" TYPE="button" VALUE=" tan" ONCLICK="if (checkNum(this.form.display.value)) { tan(this.form) }"></TD>
																	<!-- if there is some input in the display box then tan function is called -->
<TD ALIGN="center"><INPUT id="calc_rtbr" TYPE="button" VALUE="   )   " ONCLICK="addChar(this.form.display, ')')"></TD>
</TR>
<TR>
<TD ALIGN="center"><INPUT id="calc_cl" TYPE="button" VALUE="clear" ONCLICK="this.form.display.value = 0 "></TD><!-- the button changes the value in dispaly to 0. -->
<TD ALIGN="center" COLSPAN="3"><INPUT id="calc_bck" TYPE="button" VALUE="backspace" ONCLICK="deleteChar(this.form.display)"></TD>
<TD ALIGN="center"><INPUT id="calc_enter" TYPE="button" VALUE="   =   " NAME="enter" ONCLICK="if (checkNum(this.form.display.value)) { compute(this.form) }"></TD> <!-- if there is some input in the display box then compute function is called -->

</TR>
</TABLE>
</form>
</div>
<div class="col-lg-4"> </div>
</div>
<!-- <div class="row activity">
<p align="center"><font face="arial">This free script provided by  <a href="http://javascriptkit.com">"JavaScript
Kit"</a></font><p></div> -->
	</div>
	</section>
<SCRIPT LANGUAGE="JavaScript">
function addChar(input, character) {
//adds to the input value if input's value is not null or 0
	if(input.value == null || input.value == "0")
		input.value = character
	else
		input.value += character
}

function cos(form) {
	form.display.value = Math.cos(form.display.value);
}

function sin(form) {
//computes the sine of the input and displays it in the display/input box
	form.display.value = Math.sin(form.display.value);
}

function tan(form) {
//computes the tan of the input and displays it in the display/input box
	form.display.value = Math.tan(form.display.value);
}

function sqrt(form) {
//computes the squareroot of the input and displays it in the display/input box
	form.display.value = Math.sqrt(form.display.value);
}

function ln(form) {
//computes the ln of the input and displays it in the display/input box
	form.display.value = Math.log(form.display.value);
}

function exp(form) {
//computes the exponent of the input and displays it in the display/input box
	form.display.value = Math.exp(form.display.value);
}

function deleteChar(input) {
//deletes the last entry in the input box
	input.value = input.value.substring(0, input.value.length - 1)
}

function changeSign(input) {
//inverts the sign of whatever is present in the input box currently
	if(input.value.substring(0, 1) == "-")
		input.value = input.value.substring(1, input.value.length)
	else
		input.value = "-" + input.value
}

function compute(form) {
//evaluates the expression and displays the result in the display/input box
	form.display.value = eval(form.display.value)
}

function square(form) {
//computes the square of the input and displays it in the display/input box
	form.display.value = eval(form.display.value) * eval(form.display.value)
}

function checkNum(str) {
// check if the input in the input box consists of only numbers
	for (var i = 0; i < str.length; i++) {
		var ch = str.substring(i, i+1)
		if (ch < "0" || ch > "9") {
			if (ch != "/" && ch != "*" && ch != "+" && ch != "-" && ch != "."
				&& ch != "(" && ch!= ")") {
				alert("invalid entry!")
				return false
				}
			}
		}
		return true
}
</SCRIPT>
</html>

