<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Problem solving method-MEttLE</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/stylesheets/vendor/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/custom/migrated.css">
  <!-- <link rel="stylesheet" href="/stylesheets/introjs.css"> -->
  <!-- <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"> -->
</head>

<body>
  <section id="middlepart">
    <div class="top-section">
      <!-- defines the top-section containg the buttons for calculator,simulator,info center, scribble pad and problem map and logout -->
      <div class="row">
        <div class="col-sm-6" style="text-align:center;vertical-align:middle">
          <p>MEttLE</p>
        </div>
        <div class="col-sm-1" style="text-align:center;vertical-align:middle">
          <a href="simultor/index.html" target="_blank"><input id="problem1quantmodel_sim" type="image" src="/images/simulator.png" style="width:110px;height:67px;"/></a>
        </div>
        <div class="col-sm-1" style="text-align:center;vertical-align:middle">
          <a href="calc.html" target="_blank"><input id="problem1quantmodel_calc" type="image" src="/images/calc.png" style="width:110px;height:67px;"/></a>
        </div>
        <div class="col-sm-1" style="text-align:center;vertical-align:middle">
          <a href="info.html" target="_blank"><input id="problem1quantmodel_info" type="image" src="/images/info.png" style="width:110px;height:67px;"/></a>
        </div>
        <div class="col-sm-1" style="text-align:center;vertical-align:middle">
          <a href="scratch.html" target="_blank"><input  id="problem1quantmodel_scribble"type="image" src="/images/scribble.png" style="width:110px;height:67px;"/></a>
        </div>
        <div class="col-sm-1" style="text-align:center;vertical-align:middle">
          <a href="problem1map.html" target="_blank"><input id="problem1quantmodel_map" type="image" src="/images/map.png" style="width:110px;height:67px;"/></a>
        </div>
        <!-- In the above 12 lines images are being used for the various options and they are made to look like buttons and the anchor tag is added to load the appropriate pages-->
        <div class="col-sm-1" style="text-align:center"> <a href="logout"><button id="problem1quantmodel_logout" type="button" class="btn btn-default">Logout</button></a></div>
      </div>
    </div>
    <div class="register">
      <div class="info">
        <p> Click on any of the tasks to see its details and double-click to hide the details. </p>
      </div>
      <div class="container-fluid">
        <div class="col-lg-12">
          <div class="row activity" style="text-align:center">
            <div class="col-lg-6">
              <!-- using svg(Scalable Vector graphics) tag which has several methods to draw different graphic images like polygons,circles,text -->
              <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2520/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="560px"
                height="560px" viewBox="-20 -20 540 540" xml:space="preserve">
                <!-- viewport gives the avg element an internal coordinate system that goes from (-20,-20) to (540,540) and so, 1 unit inside svg is 1 px -->

                <!-- This is for the the box on the left hand side -->
                <rect width="500" height="500" fill="#bdbdbd" />
                <!-- Draws a rectangle 500x500 -->
                <!-- Draws a polygon with 3 sides with points (0,250),(0,500),(250,500). Onclicking the polygon it makes the element with id func_desc visible and on doubleclicks hides the same element. It is similiar for the other polygons as well.-->
                <g onclick='document.getElementById("func_desc").style.visibility = "visible"' ondblclick='document.getElementById("func_desc").style.visibility = "hidden"'>
                  <polygon id="problem1details_func" points="0,250 0,500 250,500" class="task_map" />
                  <text id="problem1details_task1" x="5" y="450" class="task_text"> Functional Modeling</text>
                  <text x="5" y="470" class="task_text_eg"> e.g. </text>
                  <text x="5" y="490" class="task_text_eg"> How does an electric car run? </text>
                </g>

                <g onclick='document.getElementById("qual_desc").style.visibility = "visible"' ondblclick='document.getElementById("qual_desc").style.visibility = "hidden"'>
                  <polygon id="problem1details_qual" points="0,0 0,250 250,500 500,500" class="task_map" //>
                  <text id="problem1details_task2" x="30" y="250" class="task_text"> Qualitative Modeling </text>
                  <text x="100" y="270" class="task_text_eg"> e.g. </text>
                  <text x="100" y="290" class="task_text_eg"> How is the performance
                    <tspan x="100" y="310" class="task_text_eg"> of the car affected </tspan>
                    <tspan x="100" y="330" class="task_text_eg"> by various parameters? </tspan>
                  </text>
                </g>

                <g onclick='document.getElementById("quant_desc").style.visibility = "visible"' ondblclick='document.getElementById("quant_desc").style.visibility = "hidden"'>
                  <polygon id="problem1details_quant" points="250,0 250,250 500,500 500,250" class="task_map" />
                  <text id="problem1details_task3" x="260" y="240" class="task_text"> Quantitative Modeling </text>
                  <text x="320" y="260" class="task_text_eg"> e.g. </text>
                  <text x="320" y="280" class="task_text_eg"> What is the equation
                    <tspan x="320" y="300" class="task_text_eg"> connecting power</tspan>
                    <tspan x="320" y="320" class="task_text_eg"> with other parameters? </tspan>
                  </text>
                </g>

                <g onclick='document.getElementById("calc_desc").style.visibility = "visible"' ondblclick='document.getElementById("calc_desc").style.visibility = "hidden"'>
                  <polygon id="problem1details_calc" points="0,0 250,250 250,0" class="task_map" />
                  <text id="problem1details_task4" x="100" y="20" class="task_text"> Calculation </text>
                  <text x="125" y="40" class="task_text_eg"> e.g. </text>
                  <text x="125" y="60" class="task_text_eg"> Substitute
                    <tspan x="125" y="80" class="task_text_eg"> reasonable </tspan>
                    <tspan x="125" y="100" class="task_text_eg"> values and </tspan>
                    <tspan x="125" y="120" class="task_text_eg"> calculate power. </tspan>
                  </text>
                </g>
                <g onclick='document.getElementById("eval_desc").style.visibility = "visible"' ondblclick='document.getElementById("eval_desc").style.visibility = "hidden"'>
                  <polygon id="problem1details_eval" points="250,0 500,250 500,0" class="task_map" />
                  <text id="problem1details_task5" x="330" y="20" class="task_text">Evaluation </text>
                  <text x="360" y="40" class="task_text_eg"> e.g. </text>
                  <text x="360" y="60" class="task_text_eg"> Is the determined
                    <tspan x="360" y="80" class="task_text_eg"> value of power </tspan>
                    <tspan x="360" y="100" class="task_text_eg"> reasonable? </tspan>
                  </text>
                </g>
              </svg>

            </div>
            <div class="col-lg-6">
              <!-- This svg is for the box on the right hand side -->
              <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2520/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="560px"
                height="560px" viewBox="-20 -20 540 540" xml:space="preserve">
                <rect width="500" height="500" class="task_map" />
                <text x="50" y="50" class="task_text"> You are participating in an electric car race
                  <tspan x="50" y="75"> in which you are required to design an electric </tspan>
                  <tspan x="50" y="100"> car of weight 7kg with wheel diameters of 4” </tspan>
                  <tspan x="50" y="125"> that can accelerate at 1m/s^2 and traverse a track</tspan>
                  <tspan x="50" y="150"> of 10m without burning out. Estimate the electrical </tspan>
                  <tspan x="50" y="175"> power needed to achieve these specifications. </tspan>
                </text>
                <g id="func_desc">
                  <polygon points="0,250 0,500 130,375" class="subtask_map" />
                  <text x="10" y="375" class="subtask_text">Create a
                    <tspan x="10" y="395"> statement </tspan>
                  </text>
                  <polygon points="0,500 130,375 130,500" class="subtask_map" />
                  <text x="50" y="470" class="subtask_text">Evaluate
                    <tspan x="50" y="490"> its Utility </tspan>
                  </text>
                  <polygon points="130,375 130,500 250,500" class="subtask_map" />
                  <text x="150" y="450" class="subtask_text">Plan
                    <tspan x="150" y="470"> Next </tspan>
                    <tspan x="150" y="490"> Steps</tspan>
                  </text>
                </g>
                <g id="qual_desc">
                  <polygon points="0,0 0,250 250,500 250,250" class="subtask_map" />
                  <text x="60" y="250" class="subtask_text">Create a causal map</text>
                  <polygon points="250,250 250,500 375,375" class="subtask_map" />
                  <text x="260" y="375" class="subtask_text">Evaluate
                    <tspan x="260" y="395"> its Utility</tspan>
                  </text>
                  <polygon points="250,500 375,375 500,500" class="subtask_map" />
                  <text x="320" y="470" class="subtask_text">Plan Next steps</text>
                </g>
                <g id="quant_desc">
                  <polygon points="250,0 250,250 500,250" class="subtask_map" />
                  <text x="260" y="190" class="subtask_text">Create the equation </text>
                  <polygon points="250,250 375,375 500,250" class="subtask_map" />
                  <text x="310" y="280" class="subtask_text">Evaluate its Utility</text>
                  <polygon points="375,375 500,500 500,250" class="subtask_map" />
                  <text x="410" y="380" class="subtask_text"> Plan Next
                    <tspan x="410" y="400"> Steps </tspan>
                  </text>
                </g>
                <g id="calc_desc">
                  <polygon points="0,0 250,250 250,0" class="subtask_map" />
                  <text x="90" y="40" class="subtask_text">Search Values
                    <tspan x="90" y="60" class="subtask_text"> for variables </tspan>
                  </text>
                  <polygon points="130,130 250,130 250,0" class="subtask_map" />
                  <text x="180" y="95" class="subtask_text">Evaluate
                    <tspan x="180" y="115" class="subtask_text"> Values </tspan>
                  </text>
                  <polygon points="130,130 250,250 250,130" class="subtask_map" />
                  <text x="175" y="150" class="subtask_text">Calculate
                    <tspan x="175" y="170" class="subtask_text"> Estimate </tspan>
                  </text>
                </g>
                <g id="eval_desc">
                  <polygon points="250,0 500,0 375,130" class="subtask_map" />
                  <text x="340" y="40" class="subtask_text">Order of
                    <tspan x="340" y="60"> magnitude </tspan>
                  </text>
                  <polygon points="500,0 375,130 500,250" class="subtask_map" />
                  <text x="400" y="130" class="subtask_text">Comparable
                    <tspan x="400" y="150"> Values </tspan>
                  </text>
                </g>
              </svg>
            </div>
          </div>
          <div class="row" style="text-align:center">
            <a href="map"><button id="problem1details_more" type="button" class="btn btn-primary">Click here to begin solving.</button></a>
          </div>
        </div>
      </div>
  </section>
</body>
<!-- onclick='document.getElementById("qual_desc").style.visibility = "hidden"' -->
<!-- <polygon  fill="#6298BC" points="250,0 250,250 500,500 500,250 "/>
 -->
