<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Problem solving method-MEttLE</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/stylesheets/vendor/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/custom/migrated.css">
  <!-- <link rel="stylesheet" href="/stylesheets/introjs.css"> -->
  <!-- <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"> -->
</head>

<body>
  <section id="middlepart">
    <div class="top-section">
      <!-- defines the top-section containg the buttons for calculator,simulator,info center, scribble pad and problem map and logout -->
      <div class="row">
        <div class="col-sm-6" style="text-align:center;vertical-align:middle">
          <p>MEttLE</p>
        </div>
        <div class="col-sm-1" style="text-align:center;vertical-align:middle">
          <a href="/simulator" target="_blank"><input id="problem1quantmodel_sim" type="image" src="/images/simulator.png" style="width:110px;height:67px;"/></a>
        </div>
        <div class="col-sm-1" style="text-align:center;vertical-align:middle">
          <a href="calc" target="_blank"><input id="problem1quantmodel_calc" type="image" src="/images/calc.png" style="width:110px;height:67px;"/></a>
        </div>
        <div class="col-sm-1" style="text-align:center;vertical-align:middle">
          <a href="info" target="_blank"><input id="problem1quantmodel_info" type="image" src="/images/info.png" style="width:110px;height:67px;"/></a>
        </div>
        <div class="col-sm-1" style="text-align:center;vertical-align:middle">
          <a href="scratch" target="_blank"><input  id="problem1quantmodel_scribble"type="image" src="/images/scribble.png" style="width:110px;height:67px;"/></a>
        </div>
        <div class="col-sm-1" style="text-align:center;vertical-align:middle">
          <a href="problem1map" target="_blank"><input id="problem1quantmodel_map" type="image" src="/images/map.png" style="width:110px;height:67px;"/></a>
        </div>
        <!-- In the above 12 lines images are being used for the various options and they are made to look like buttons and the anchor tag is added to load the appropriate pages-->
        <div class="col-sm-1" style="text-align:center"> <a href="/logout"><button id="problem1quantmodel_logout" type="button" class="btn btn-default">Logout</button></a></div>
      </div>
    </div>
    <div class="register">
      <div class="info">
        <p> How do we solve such problems? </p>
      </div>
      <div class="container-fluid">
        <div class="col-lg-12">
          <div class="row" style="text-align:center; margin-top: 20px;">
            <video id="problemstructure_controls" width="900" height="506" controls>
              <source src="/videos/problemstructure.mp4" type="video/mp4">
            </video>
          </div>
          <div class="row" style="text-align:center">
            <a href="details"><button id="problemstructure_more" type="button" class="btn btn-primary">Click here to learn more.</button></a>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
</body>
